<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--指定接口的全类名,来绑定接口-->
<mapper namespace="com.binny.wallet.mapper.EmployeeMapper">

    <!--id 和 namespace 中的方法绑定-->
    <select id="selectEmployeeMapperId" resultType="Employee">
        select * from tbl_employee where id = #{id}
    </select>

</mapper>